
/*
Gotham FONT
 */

@font-face {
	font-family: 'Gotham B';
	src: url('Gotham-Book.eot');
	src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
		 url('Gotham-Book.woff2') format('woff2'),
		 url('Gotham-Book.woff') format('woff'),
		 url('Gotham-Book.ttf')  format('truetype'), 
		 url('Gotham-Book.svg#svgGothamBook') format('svg'); 
	font-style: normal;
	font-weight: normal;       
}

@font-face {
	font-family: 'Gotham M';
	src: url('Gotham-Medium.eot');
	src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		 url('Gotham-Medium.woff2') format('woff2'),
		 url('Gotham-Medium.woff') format('woff'),
		 url('Gotham-Medium.ttf')  format('truetype'), 
		 url('Gotham-Medium.svg#svgGothamMedium') format('svg'); 
	font-style: normal;
	font-weight: normal;       
}